{% extends 'index.html' %}
{% load static %}
{% block title %}welcome{% endblock %}
{% block content %}


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
  <h1 class="text-center text-white display-6">Farmers </h1>
</div>
<!-- Single Page Header End -->

<!-- Single Page Content Start -->
<div class="container-fluid fruite py-5">
  <div class="container py-5">
    <div class="tab-class text-center">
      <div class="tab-content">
        <div id="tab-1" class="tab-pane fade show p-0 active">
          <div class="row g-4">
            <div class="col-lg-12">
              <div class="row g-4" id="farmerHolder">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Page Content End -->




{% endblock %}